<div id="notice-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">공지사항</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">{{vm.title}}</span>
            </div>
            <div class="title">{{vm.title}}</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">
        <div class="widget-group" layout="row" flex="100" layout-wrap>
            <ms-widget layout="column" flex="100" flex-gt-sm="100">
                <ms-widget-front class="white-bg">
                    <div class="white-bg md-whiteframe-4dp" ui-view="notice-item" flex></div>
                </ms-widget-front>
            </ms-widget>
        </div>
        <div class="widget-group" layout="row" flex="100" layout-wrap>
            <ms-widget layout="column" flex="100" flex-gt-sm="100">
              <ms-widget-front class="white-bg">
                    <div class="white-bg md-whiteframe-4dp">
                        <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                            <thead>
                                <tr>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">번호</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">제목</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">업로드시간</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">장소</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ::vm.noticeList">
                                    <td>{{ $index + 1 }}</td>
                                    <!-- <td ng-click="vm.openNoticeItem(item.id)">{{ item.title }}</td> -->
                                    <td><a class="md-primary" ui-sref="app.notice.list.item({id : {{item.id}}})" ui-sref-active="md-accent">{{ item.title }}</a></td>
                                    <td>{{ item.time | date:'yyyy-MM-dd' }}</td>
                                    <td>
                                        <div ng-if="item.location.id != 0">{{ item.location.name }}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ms-widget-front>
            </ms-widget>
        </div>

    </div>
    <!-- / CONTENT -->

</div>