<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <img ng-src="assets/images/logos/logo_login.png" class="logo" />

            <form name="loginForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="이메일 입력"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>이메일 입력이 필요합니다.</span>
                        </div>
                        <div ng-message="pattern">
                            <span>유효한 이메일 주소를 입력해야 합니다.</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="비밀번호 입력"
                           required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>비밀번호 입력이 필요합니다.</span>
                        </div>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="LOG IN"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine" ng-click="vm.loginfun(loginForm.email.$viewValue,loginForm.password.$viewValue)">
                    LOG IN
                </md-button>
            </form>

            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <a class="link" ui-sref="register">회원가입</a>
            </div>
        </div>
    </div>
</div>