<!-- drawing 버튼 -->

<md-fab-speed-dial id="drawingButton" ng-if="vm.isIEBrowser==false" ng-show="vm.ngShowDrawingButton" style="position:absolute; z-index:99990;bottom:40px;left:40px;height:40px;width:40px;" md-direction="up" md-open="vm.bDrawingButtonIsOpen" class="md-scale" ng-class="{ 'md-hover-full': 'false' }" ng-click="vm.drwingButtonClicked()">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-warn">
      <md-tooltip md-direction="up" md-visible="false">도구모음</md-tooltip>
      <md-icon md-font-icon="icon-vector-square" aria-label="menu"></md-icon>
    </md-button>
  </md-fab-trigger>

  <md-fab-actions>
    <div ng-repeat="item in vm.drawingMenu">
      <md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini" ng-click="vm.selectDrawingMenu(item.type)">
        <md-tooltip md-direction="right" md-visible="vm.customEvnetTooltipVisible" md-autohide="false">
          {{item.name}}
        </md-tooltip>

        <md-icon md-font-icon="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
      </md-button>
    </div>
  </md-fab-actions>
</md-fab-speed-dial>


<md-fab-speed-dial id="drawingButton" ng-if="vm.isIEBrowser==true" ng-show="vm.ngShowDrawingButton" style="position:absolute; z-index:99990;bottom:160px;left:40px;height:40px;width:40px;" md-direction="up" md-open="vm.bDrawingButtonIsOpen" class="md-scale" ng-class="{ 'md-hover-full': 'false' }" ng-click="vm.drwingButtonClicked()">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-warn">
      <md-tooltip md-direction="up" md-visible="false">도구모음</md-tooltip>
      <md-icon md-font-icon="icon-vector-square" aria-label="menu"></md-icon>
    </md-button>
  </md-fab-trigger>

  <md-fab-actions>
    <div ng-repeat="item in vm.drawingMenu">
      <md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini" ng-click="vm.selectDrawingMenu(item.type)">
        <md-tooltip md-direction="right" md-visible="vm.customEvnetTooltipVisible" md-autohide="false">
          {{item.name}}
        </md-tooltip>

        <md-icon md-font-icon="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
      </md-button>
    </div>
  </md-fab-actions>
</md-fab-speed-dial>
