    
<div id="register" layout="row" layout-align="end end">
   
    <div id="register-form-wrapper" class="flex-scrollable md-whiteframe-1dp" layout="column" flex ms-scroll>
        <div id="register-form">
            <div class="title"><h1>  Create Account</h1></div>
                
          

            <md-button type="normal" ng-click="imageUpload(file)" class="btn btn-info">이미지 업로드</md-button>

           <form name="registerForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input name="username" ng-model="vm.form.username" placeholder="사용자 이름"
                           required>
                    <div ng-messages="registerForm.username.$error" role="alert">
                        <div ng-message="required">
                            <span>사용자 이름을 입력해 주세요</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="이메일"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="registerForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>이메일을 입력해주세요</span>
                        </div>
                        <div ng-message="pattern">
                            <span>이메일 형식에 맞지 않습니다</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="패스워드"
                           required>
                    <div ng-messages="registerForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>패스워드를 입력해주세요</span>
                        </div>
                    </div>
                </md-input-container>
                
               
                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="CREATE MY ACCOUNT"
                           ng-disabled="registerForm.$invalid || registerForm.$pristine" ng-click="vm.register_loginfun(registerForm.username.$viewValue,registerForm.email.$viewValue,registerForm.password.$viewValue,registerForm.location_share.$viewValue)">
                    계정 만들기
                </md-button>
            </form>
            <div class="login" layout="row" layout-sm="column" layout-align="center center">
                <span class="text">이미 계정을 가지고 계십니까?</span>
                <a class="link" ui-sref="login">Log in</a>
            </div>
        </div>
    </div>
</div>
