    
<div id="register" layout="row" layout-align="end end">
   
    <div id="register-form-wrapper" class="flex-scrollable md-whiteframe-1dp" layout="column" flex ms-scroll>
        <div id="register-form">
            <div class="title"><h1>  Create Account</h1></div>
                
           
           <form name="registerForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input name="userId" ng-model="vm.form.userId" placeholder="이메일 주소" ng-pattern="/^.+@+skku+\.+edu+$/"
                           required>
                    
                    <div ng-messages="registerForm.userId.$error" role="alert">
                        <div ng-message="required">
                            <span>이메일 주소를 입력해 주세요</span>
                        </div>
                        <div ng-message="pattern">
                            <span>skku 이메일 형식에 맞지 않습니다</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <input type="passWd" name="passWd" ng-model="vm.form.passWd" placeholder="패스워드" ng-minlength="6" ng-maxlength="16"
                            required>
                    <div ng-messages="registerForm.passWd.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>패스워드를 입력해주세요</span>
                        </div>
                         <div ng-message="ng-minlength">
                            <span>패스워드를 6자이상 입력해주세요</span>
                        </div>
                        <div ng-message="ng-maxlength">
                            <span>패스워드를 16자이하 입력해주세요</span>
                        </div>

                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <input type="nickname" name="nickname" ng-model="vm.form.nickname" placeholder="닉네임" ng-minlength="1" ng-maxlength="16"
                           required>
                    <div ng-messages="registerForm.nickname.$error" role="alert">
                        <div ng-message="required">
                            <span>닉네임을 입력해주세요</span>
                        </div>
                        <div ng-message="ng-minlength">
                            <span>닉네임을 1자이상 입력해주세요</span>
                        </div>
                        <div ng-message="ng-maxlength">
                            <span>닉네임을 16자이하 입력해주세요</span>
                        </div>
                    </div>
                </md-input-container>
                
                <md-input-container class="md-block" md-no-float>
                    <input name="name" ng-model="vm.form.name" placeholder="사용자 이름" ng-minlength="1" ng-maxlength="16"
                           required>
                    <div ng-messages="registerForm.name.$error" role="alert">
                        <div ng-message="required">
                            <span>이름을 입력해주세요</span>
                        </div>
                        <div ng-message="ng-minlength">
                            <span>이름을 1자이상 입력해주세요</span>
                        </div>
                        <div ng-message="ng-maxlength">
                            <span>이름을 16자이하 입력해주세요</span>
                        </div>
                    </div>
                </md-input-container>
                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="CREATE MY ACCOUNT"
                           ng-disabled="registerForm.$invalid || registerForm.$pristine" ng-click="vm.register_loginfun(registerForm.userId.$viewValue,registerForm.passWd.$viewValue,registerForm.nickname.$viewValue,registerForm.name.$viewValue)">
                    계정 만들기
                </md-button>
            </form>
            <div class="login" layout="row" layout-sm="column" layout-align="center center">
                <span class="text">이미 계정을 가지고 계십니까?</span>
                <a class="link" ui-sref="login">Log in</a>
            </div>
        </div>
    </div>
</div>
