<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
      <!-- <h2> {{vm.clickName}} </h2> // 위키 제목 -->
        <h2> 이벤트리스트 </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="icon-close-circle-outline" class="icon"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    <md-content>
      <md-list flex>
        <md-subheader class="md-no-sticky">이벤트들</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="item in datalist" ng-click="answer(item.id)">
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.title }}</h3>
            <h4>작성자 : {{ item.creator.nickname }}</h4>
            <p>{{ item.about }}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
    
    
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('addEvent')">
        이벤트추가
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>