<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
      <!-- <h2> {{vm.clickName}} </h2> // 위키 제목 -->
        <h2 ng-if="isModify == false"> 새로운 커스텀 이벤트 생성하기 </h2>
        <h2 ng-if="isModify == true"> {{retData['name']}} 정보 수정하기 </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="icon-close-circle-outline" class="icon"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>

    <div layout-gt-sm="row">
      <md-input-container class="md-block">
        <label>제목</label>
        <input md-maxlength="30" required="" md-no-asterisk="" name="description" ng-model="retData['name']">
      </md-input-container>
      <md-input-container class="md-block">
        <label>주최자</label>
        <input md-maxlength="20" required="" md-no-asterisk="" name="description" ng-model="retData['creater']">
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block">
        <label>시작일자</label>
        <input md-maxlength="30" required="" md-no-asterisk="" name="description" ng-model="retData['fromDate']">
      </md-input-container>
    </div>

    <div layout-gt-sm="row">
    <md-input-container class="md-block">
      <label>종료일자</label>
      <input md-maxlength="30" required="" md-no-asterisk="" name="description" ng-model="retData['toDate']">
    </md-input-container>
    </div>
    
    <md-input-container class="md-block">
      <label>상세내역</label>
      <input md-maxlength="30" required="" md-no-asterisk="" name="description" ng-model="retData['about']">
    </md-input-container>

    <div layout-gt-sm="row" class="tags">
      <md-chips ng-model= "retData['tags']" md-transform-chip="newTag($chip)" placeholder="Enter a tag" md-max-chips="5">
        <md-chip-template>
          <!--<span ng-if="$chip.color" class="color" ng-style="{'background-color':$chip.color}"></span>-->
          <span>{{$chip.name}}</span>
        </md-chip-template>
      </md-chips>
    </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer()">
        Create
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>