<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
      <!-- <h2> {{vm.clickName}} </h2> // 위키 제목 -->
        <h2> {{data.name}} </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="icon-close-circle-outline" class="icon"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>

    <div layout-gt-sm="row">
        <p>주최자 : {{data.creator.nickname}}</p>
    </div>
    <div layout-gt-sm="row">
        <p><span>시작일자 :    </span><div><md-datepicker ng-model="fromDateD" md-placeholder="Enter date" disabled></md-datepicker></div></p>
    </div>
    <div layout-gt-sm="row">
        <p><span>종료일자 :    </span><div><md-datepicker ng-model="toDateD" md-placeholder="Enter date" disabled></md-datepicker></div></p>
    </div>

    <div class="tags" layout="row" layout-align="start center" layout-wrap>
      <div class="tag" layout="row" style="height:30px;" layout-align="start center" data-ng-repeat="tag in data.tags">
        <div class="tag-label"> <p># {{tag.name}}</p></div>
      </div>
    </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-if="canModify == true" ng-click="answer('delete')">
        삭제
      </md-button>
      <md-button ng-click="answer('modifyInfo')">
        정보수정하기
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>