<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
      <!-- <h2> {{vm.clickName}} </h2> // 위키 제목 -->
        <h2> 새로운 커스텀 이벤트 생성하기 </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="icon-close-circle-outline" class="icon"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>

    <div layout-gt-sm="row">
      <md-input-container class="md-block">
        <label>제목</label>
        <input md-maxlength="30" required="" md-no-asterisk="" name="description" ng-model="title">
      </md-input-container>
      <md-input-container class="md-block">
        <label>주최자</label>
        <input md-maxlength="20" required="" md-no-asterisk="" name="description" ng-model="detailed">
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block">
        <label>시작일자</label>
        <input md-maxlength="30" required="" md-no-asterisk="" name="description" ng-model="detailed">
      </md-input-container>
    </div>

    <div layout-gt-sm="row">
    <md-input-container class="md-block">
      <label>종료일자</label>
      <input md-maxlength="30" required="" md-no-asterisk="" name="description" ng-model="detailed">
    </md-input-container>
    </div>
    
    <md-input-container class="md-block">
      <label>위치(미정)</label>
      <input md-maxlength="30" required="" md-no-asterisk="" name="description" ng-model="detailed">
    </md-input-container>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer()">
        Create
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>