<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Marker Category</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="icon-close-circle-outline" class="icon">
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Choose marker category<md-button class="md-raised" ng-if="categoryLevel != 'none'" ng-click="categoryLevelChangefunc('none')"><md-icon md-font-icon="
icon-keyboard-backspace" class="icon"></md-icon>뒤로가기</md-button></h2>
        <div ng-if="categoryLevel == 'none'">
          <md-button class="md-raised" ng-click="categoryLevelChangefunc('Facilities')"><md-icon md-font-icon="icon-emoticon-happy" class="icon"></md-icon>편의시설</md-button>
          <md-button class="md-raised" ng-click="categoryLevelChangefunc('Restaurant')"><md-icon md-font-icon="icon-food-variant" class="icon"></md-icon>음식점</md-button>
          <md-button class="md-raised" ng-click="categoryLevelChangefunc('Major')"><md-icon md-font-icon="icon-book-open" class="icon"></md-icon>학과</md-button>
          <md-button class="md-raised" ng-click=""><md-icon md-font-icon="icon-radio-tower" class="icon"></md-icon>동아리</md-button>
          <md-button class="md-raised" ng-click="answer('region')"><md-icon md-font-icon="icon-vector-square" class="icon"></md-icon>지역/건물</md-button>
        </div>
       

        <div ng-if="categoryLevel == 'Facilities'">
          <md-button class="md-raised" ng-click="answer('bank')"><md-icon md-font-icon="icon-square-inc-cash" class="icon"></md-icon>은행/ATM</md-button>
          <md-button class="md-raised" ng-click="answer('toilet')"><md-icon md-font-icon="icon-human-male-female" class="icon"></md-icon>화장실</md-button>
          <md-button class="md-raised" ng-click="answer('busstop')"><md-icon md-font-icon="icon-subway" class="icon"></md-icon>정류장</md-button>
          <md-button class="md-raised" ng-click="answer('print')"><md-icon md-font-icon="icon-printer" class="icon"></md-icon>복사/제본</md-button>
          <md-button class="md-raised" ng-click="answer('vendingmachine')"><md-icon md-font-icon="icon-washing-machine" class="icon"></md-icon>자판기</md-button>
        </div>
        <div ng-if="categoryLevel == 'Restaurant'">
          <md-button class="md-raised" ng-click="answer('insideRestaurant')"><md-icon md-font-icon="icon-food-apple" class="icon"></md-icon>교내식당</md-button>
          <md-button class="md-raised" ng-click="answer('outsideRestaurant')")><md-icon md-font-icon="icon-food" class="icon"></md-icon>교외식당</md-button>
        </div>
        <div ng-if="categoryLevel == 'Major'">
          <div layout="row" layout-align="space-between center">
           <span>What is your major of primary interest?</span>
            <md-select ng-model="major" placeholder="Major" class="md-no-underline">
            <md-option value="standard">학부대학</md-option>
            <md-option value="engineer">공과대학</md-option>
            <md-option value="soft">소프트웨어대학</md-option>
            <md-option value="comm">정보통신대학</md-option>
           </md-select>
           <!-- if check major then apply button pops up -->
           <md-button ng-if="major != 'none'" ng-click="answer(major)">
          Apply
        </md-button>
          </div>
        </div>

        
      </div>
    </md-dialog-content>
    
    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      
        
      
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>