<md-dialog flex="40">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
      <h2> {{clickName}} </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="icon-close-circle-outline" class="icon"></md-icon>
        </md-button>
      </div>
    </md-toolbar>


    <!-- iframe 이용 wiki page dialog -->
    

      <iframe frameborder=" 0" id="domainframe" src= "{{clickUrl | trustAsResourceUrl}}" width="100%" height = "300px" scrolling="auto";></iframe> 

 

<!--
    <md-dialog-actions layout="row">
    <md-chips ng-model="ctrl.tags" md-removable="true" placeholder="Enter a tag" secondary-placeholder="+Tag"></md-chips>
    </md-dialog-actions> -->

    
    <md-dialog-actions layout="row">
    <div class="tags">
      <md-chips ng-model= "tags" placeholder="Enter a tag">

      </md-chips>
    </div>
    </md-dialog-actions>


    <md-dialog-actions layout="row">
     <!-- <md-button ng-click= "movewiki()" ui-sref = "{{clickUrl | trustAsResourceUrl}}"> -->
     <md-button ng-click= "movewiki()">
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>