<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
      <!-- <h2> {{vm.clickName}} </h2> // 위키 제목 -->
      <!--  <h2> Name of Area </h2>-->
      <h2> {{clickName}} </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="icon-close-circle-outline" class="icon"></md-icon>
        </md-button>
      </div>
    </md-toolbar>


    <!-- iframe 이용 wiki page dialog -->
    <!-- <md-dialog-content> 
    <script>
        document.getElementById("clickWiki").src = "http://fanatic1.iptime.org:8080/xwiki/bin/view/XWiki/";
    </script>-->
    
      <iframe frameborder=" 0" id="domainframe" src= "{{clickUrl | trustAsResourceUrl}}" width="500px" height = "400px" scrolling="auto";></iframe> 
     <!-- <iframe frameborder="0" id="clickWiki" src=" " width="500px" height = "400px" scrolling="auto";></iframe>-->
    <!-- </md-dialog-content> -->

<!--
    <md-dialog-actions layout="row">
    <md-chips ng-model="ctrl.tags" md-removable="true" placeholder="Enter a tag" secondary-placeholder="+Tag"></md-chips>
    </md-dialog-actions> -->

    
    <md-dialog-actions layout="row">
    <div class="tags">
      <md-chips ng-model= "tags" placeholder="Enter a tag">

      </md-chips>
    </div>
    </md-dialog-actions>


    <md-dialog-actions layout="row">
     <!-- <md-button ng-click= "movewiki()" ui-sref = "{{clickUrl | trustAsResourceUrl}}"> -->
     <md-button ng-click= "movewiki()">
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('markerInfo')">
        마커정보
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>