<div id="layout-content-with-toolbar" class="template-layout" layout="column" flex>
	
	
    <md-toolbar id="toolbar" class="md-menu-toolbar md-whiteframe-1dp" ui-view="toolbar"></md-toolbar>
    <md-content id="content" class="animate-slide-up md-hue-2" ui-view="content" flex></md-content>

    <md-sidenav id="quick-panel" class="md-sidenav-right md-whiteframe-4dp" md-component-id="quick-panel" ms-scroll
                ui-view="quickPanel"></md-sidenav>
    <!-- <div id="tutorialBox" style="width:100%; height:100%;position:absolute"> -
		<div ng-repeat="arrElement in vm.tutorialMarkArr track by $index" style="position:absolute;z-index:100;">
     	<img id= {{arrElement.markerId}} ng-click="vm.tutorialMarkClicked($index)" ng-src="{{arrElement.imgSrc}}" ng-style="arrElement.ngStyle">
    </div> 
		</div>-->

	<!-- ng-repeat를 사용하는 경우 img를 포함하는 사각형의 div 형태로 absolue가 생성이 되며 이로 인해 하단 레이아웃 클릭이 불가능해짐. 따라서 모두 일일히 지정해야함.-->
	<img ng-if="vm.tutorialMarkArr[0].bMarkerNgIf" id= {{vm.tutorialMarkArr[0].markerId}} ng-click="vm.tutorialMarkClicked(0)" ng-src="{{vm.tutorialMarkArr[0].imgSrc}}" ng-style="vm.tutorialMarkArr[0].ngStyle" style="z-index:70;position:absolute;">
	<img ng-if="vm.tutorialMarkArr[1].bMarkerNgIf" id= {{vm.tutorialMarkArr[1].markerId}} ng-click="vm.tutorialMarkClicked(1)" ng-src="{{vm.tutorialMarkArr[1].imgSrc}}" ng-style="vm.tutorialMarkArr[1].ngStyle" style="z-index:70;position:absolute;">
</div>
</div>

