<div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
    <div class="h3">타임라인</div>

    <div class="pv-16">
        <md-select class="simplified" ng-model="vm.selected_category" aria-label="Change range">
            <md-option ng-repeat="(key, category) in vm.notice_category" value="{{key}}" ng-selected="$first">
                {{category.korean_name}}
            </md-option>
        </md-select>
    </div>
</div>

<md-menu-bar class="p-16" layout="row" layout-align="space-between center" ng-repeat="timeline in vm.timelineList[vm.selected_category].data.content" style="cursor: pointer;">
    <md-menu>
        <div ng-click="$mdMenu.open()">
            <div class="h3">{{timeline.title}}</div>
            <div>
                <span class="secondary-text">{{timeline.time | date:'yyyy-MM-dd'}}</span>
                <span ng-if="timeline.location.id != 0">, {{timeline.location.name}}</span>
            </div>
        </div>
        <md-menu-content>
            <md-menu-item>
              <md-button ng-click = "vm.gotoTimelineNotice(timeline.id, timeline.category.name)">
                자세히 보기
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="md-primary" ng-href="{{timeline.link}}" target="_blank">
                원본글 보기
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="timeline.location.id != 0">
              <md-button ng-click = "vm.gotoTimelineLocation(timeline.location)">
                지도 위치로 가기
              </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>
